.flex.space-x-4
  select#levelFilter.border-2.border-black.rounded.px-2.py-1(
    onchange='filterMyCourses()'
  )
    option(value='') #{ t('course.allLevels') }
    each value, key in CourseLevel
      option(value=value, selected=levelFilter === value ? true : false)= key

  select#statusFilter.border-2.border-black.rounded.px-2.py-1(
    onchange='filterMyCourses()',
    class=current_user.role === UserRole.INSTRUCTOR ? 'hidden' : ''
  )
    option(value='') #{ t('course.allStatus') }
    each value, key in EnrollStatus
      option(value=value, selected=statusFilter === value ? true : false)= key
